REACT_APP_development_GRAPHQL_END_POINT_URI=https://localhost:8080/graphql
REACT_APP_development_GRAPHQL_WEB_SOCKET_URI=wss://localhost:8080/graphql
REACT_APP_production_GRAPHQL_END_POINT_URI=https://flea-market-service.herokuapp.com/graphql
REACT_APP_production_GRAPHQL_WEB_SOCKET_URI=wss://flea-market-service.herokuapp.com/graphql
REACT_APP_FB_CLIENT_ID={client id here}
REACT_APP_GOOGLE_CLIENT_ID={google client id here}
HTTPS=true 
SSL_CRT_FILE=server.cert 
SSL_KEY_FILE=server.key
REACT_APP_CLOUDINARY_API_KEY={you api key}
REACT_APP_CLOUDINARY_API_SECRET={your secret}
REACT_APP_CLOUDINARY_CLOUD_NAME={your cloud name}
REACT_APP_STRIPE_PUBLISHABLE_KEY={your stripe publish key}